<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body style=" margin-bottom: 170px; background-repeat: no-repeat; background-attachment: fixed; background-image: url('https://phonoteka.org/uploads/posts/2022-01/1643186349_1-phonoteka-org-p-svetlii-belii-fon-1.jpg');">
<header>

  <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand">Hospital</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" th:text="#{admin_jsp.Appointments}"></a>

            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="doctors" th:text="#{admin_jsp.Doctors}"></a>
              </li>
              <li>
                <a class="dropdown-item" href="patients" th:text="#{admin_jsp.Patients}"></a>
              </li>
              <li>
                <a class="dropdown-item" href="appointments" th:text="#{admin_jsp.Appointments}"></a>
              </li>
            </ul>
          </li>
        </ul>


      </div>
      <form action="controller" method="get">
        <input type="hidden" name="command" value="logout">
        <button type="submit" class="btn btn-outline-secondary" style="background-color: #e3f2fd;" th:text="#{admin_jsp.logout}"></button>
      </form>
    </div>
  </nav>
</header>


<div>
  <nav>
    <ul class="pagination  pagination-sm justify-content-center ">
      <li class="page-item" th:classappend="${appointments.isFirst() ? 'disabled' : ''}">
        <a class="page-link"
           th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${appointments.number - 1})}">
          Попередня</a>
      </li>
      <li class="page-item" th:classappend="${appointments.isFirst() ? 'disabled' : ''}">
        <a class="page-link"
           th:href="@{${#ctx.springRequestContext.requestUri}( sort=${sortName}, page=0)}">
          <<<</a>
      </li>
      <li th:each="pageNumber : ${#numbers.sequence(0, appointments.getTotalPages()-1)}"
          th:classappend="${appointments.number == pageNumber ? 'active' : ''}" class="page-item">
        <a class="page-link"
           th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${pageNumber})}"
           th:text="${pageNumber + 1}">1</a>
      </li>
      <li class="page-item" th:classappend="${appointments.last ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${appointments.getTotalPages()-1})}">>>></a>
      </li>
      <li class="page-item" th:classappend="${appointments.last ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${appointments.number + 1})}">Наступна</a>
      </li>
    </ul>
  </nav>
</div>


<section class="appointments flex" >

  <div class="container-sm" >
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm">
          <thead>
          <tr>
            <th scope="col"><a class="list-group-item list-group-item-action list-group-item-info" style="background-color: #e3f2fd;"
                               th:href="@{${#ctx.springRequestContext.requestUri}(sort=doctorId.doctorName, page=${appointments.number})}" th:text="#{appointment_jsp.Doctoru21C5}">
              ▼</a></th>
            <th scope="col"><a class="list-group-item list-group-item-action list-group-item-info" style="background-color: #e3f2fd;"
                               th:href="@{${#ctx.springRequestContext.requestUri}(sort=doctorId.category, page=${appointments.number})}" th:text="#{appointment_jsp.Categoryu21C5}">
              ▼</a></th>
            <th scope="col"><a class="list-group-item list-group-item-action list-group-item-info" style="background-color: #e3f2fd;"
                               th:href="@{${#ctx.springRequestContext.requestUri}(sort=patientId.patientName, page=${appointments.number})}" th:text="#{appointment_jsp.Patientu21C5}">
              ▼</a></th>
            <th scope="col"><a class="list-group-item list-group-item-action list-group-item-info" style="background-color: #e3f2fd;"
                               th:href="@{${#ctx.springRequestContext.requestUri}(sort='appointmentData', page=${appointments.number})}" th:text="#{appointment_jsp.Appointmentu21C5}">
            </a></th>
          </tr>
          </thead>
          <tbody>
            <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.doctorId.doctorName} + ' ' + ${appointment.doctorId.doctorSurname}"></td>
              <td th:text="${appointment.doctorId.category}"></td>
              <td th:text="${appointment.patientId.patientName} + ' ' + ${appointment.patientId.patientSurname}"></td>
              <td th:text="${appointment.appointmentData}"></td>
              <td>
                <button type="button" class="btn btn-danger btn-sm " data-bs-toggle="modal"
                        data-bs-target="#deletePatientModal${appointment.appointmentId}">X
                </button>
                <div class="modal" id="deletePatientModal${appointment.appointmentId}" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" th:text="#{admin_jsp.Delete}"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger" th:text="#{admin_jsp.Attention!}">
                        </div>
                        >
                        <a class="text-secondary text-decoration-none" th:text="#{admin_jsp.Delete}">:
                            ${appointment.appointmentDoctorName} ${appointment.appointmentDoctorSurname} | ${appointment.appointmentPatientName} ${appointment.appointmentPatientSurname}
                          ?</a>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{admin_jsp.Close}">
                        </button>
                        <form action="controller" method="get">
                          <input type="hidden" name="command" value="deleteappointmentcommand">
                          <input type="hidden" name="appointmentid" value=${appointment.appointmentId}>
                          <button type="submit" class="btn btn-primary" th:text="#{admin_jsp.Yes}"></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>

<!--PAGINATION-->
<div>
  <nav>
    <ul class="pagination  pagination-sm justify-content-center ">
      <li class="page-item" th:classappend="${appointments.isFirst() ? 'disabled' : ''}">
        <a class="page-link"
           th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${appointments.number - 1})}">
          Попередня</a>
      </li>
      <li class="page-item" th:classappend="${appointments.isFirst() ? 'disabled' : ''}">
        <a class="page-link"
           th:href="@{${#ctx.springRequestContext.requestUri}( sort=${sortName}, page=0)}">
          <<<</a>
      </li>
      <li th:each="pageNumber : ${#numbers.sequence(0, appointments.getTotalPages()-1)}"
          th:classappend="${appointments.number == pageNumber ? 'active' : ''}" class="page-item">
        <a class="page-link"
           th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${pageNumber})}"
           th:text="${pageNumber + 1}">1</a>
      </li>
      <li class="page-item" th:classappend="${appointments.last ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${appointments.getTotalPages()-1})}">>>></a>
      </li>
      <li class="page-item" th:classappend="${appointments.last ? 'disabled' : ''}">
        <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(sort=${sortName}, page=${appointments.number + 1})}">Наступна</a>
      </li>
    </ul>
  </nav>
</div>

<!--FOOTER-->
<footer class="pt-1 my-md-1 pt-md-1 border-top abs "
        style="position: fixed;
        bottom: -10px;
        height: 70px;
        background: #e3f2fd;
        width: 100%;
        left: 0;">
  <div class="container text-center text-md-left">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">Make by Arno</div>
      <div class="p-2">099 111 22 33</div>
      <div class="p-2"><mylib:languages></mylib:languages></div>
    </div>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>
