<!DOCTYPE html>
<html>
<head>
    <title>Hospital</title>
</head>
<body style="margin-bottom: 170px; background-repeat: no-repeat; background-attachment: fixed; background-image: url('https://phonoteka.org/uploads/posts/2022-01/1643186349_1-phonoteka-org-p-svetlii-belii-fon-1.jpg');">
<div class="main-content">
    <h2>We have a problem:</h2>
    <h3 th:text="${errorMessage}"></h3>
    <div th:each="error : ${bindingResult}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <button type="button" class="btn btn-outline-info" tabindex="-1" role="button" onclick="history.back()">Back
    </button>
</div>
</body>
</html>
