
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body style="margin-top: 100px; margin-bottom: 170px; background-repeat: no-repeat; background-attachment: fixed; background-image: url('https://phonoteka.org/uploads/posts/2022-01/1643186349_1-phonoteka-org-p-svetlii-belii-fon-1.jpg');">
<header>
  <nav class="navbar navbar-expand-lg" style="position: fixed; left: 0; width: 100%; top: 0; background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" >Hospital</a>
      <div class="container-fluid">
        <a th:href="@{/doctors/patientsByDoctorID(doctorId=${hospitalcard.doctor.doctorId})}" style="background-color: #e3f2fd;" class="btn btn-outline-secondary" role="button" th:text="#{admin_jsp.hospitalcardBack}"></a>
        </button>
      </div>
      </div>
    <form action="controller" method="get">
      <input type="hidden" name="command" value="logout">
      <button type="submit" class="btn btn-outline-secondary" style="background-color: #e3f2fd;" th:text="#{admin_jsp.logout}"></button>
    </form>
    </div>
  </nav>
</header>


<section class="adminpage-hospitalcard flex">

  <div class="container">
    <div class="row">
      <div class="col-12 fs-2 text-center "  th:text="#{admin_jsp.hospitalcardHOSPITALCARD}"></div>
      <div class="col-4 fs-4" th:utext="#{admin_jsp.Doctor} + ':' + '<br>' +  ${hospitalcard.doctor.doctorName} + ' ' +  ${hospitalcard.doctor.doctorSurname} + ' <br> ' + ' | ' +  ${hospitalcard.doctor.category}">
      </div>
      <div class="col-4 fs-4"></div>
      <div class="col-4 fs-4" th:utext="#{admin_jsp.Patient} + ':' + '<br>' + ${hospitalcard.patient.patientName} + ' ' + ${hospitalcard.patient.patientSurname} + ' ' + '<br>' + ${hospitalcard.patient.patientDateOfBirth} + ' ' + '<br>' + ${hospitalcard.patient.patientPhone}"></div>
      <div class="col-9 fs-6 fw-bold" th:text="#{admin_jsp.hospitalcardPROCEDURE}"></div>
      <div class="col-9 fs-8 "> <p th:text="${hospitalcard.procedures}"></p></div>
      <div class="col-9 fs-6 fw-bold" th:text="#{admin_jsp.hospitalcardMEDICATION}"></div>
      <div class="col-9 fs-8" ><p th:text="${hospitalcard.medications}"></p> </div>
      <div class="col-9 fs-6 fw-bold" th:text="#{admin_jsp.hospitalcardOPERATION}"></div>
      <div class="col-9 fs-8" ><p th:text="${hospitalcard.operations}"></p> </div>
      <div class="col-9 fs-6 fw-bold" th:text="#{admin_jsp.hospitalcardDIAGNOSIS}"></div>
      <div class="col-9 fs-8" ><p th:text="${hospitalcard.diagnosis}"></p> </div>
    </div>
  </div>

  <!-- Modal visit -->
  <div class="modal fade" id="visitModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel1" th:text="#{admin_jsp.hospitalcardVisitHistory}"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" th:each="visitcard : ${visitcard}">
            <option th:text="${visitcard.appointmentData}">
            </option>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal discharged -->
  <div class="modal fade" id="dischargedModal" tabindex="-1" aria-labelledby="exampledischargedModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampledischargedModal" th:text="#{admin.jsp.DiscargePatient}"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="h4 pb-2 mb-4 text-warning border-bottom border-danger" th:text="#{admin_jsp.Attention} + '!'">
          </div>
          <a class="text-secondary text-decoration-none" th:utext="#{admin.jsp.DiscConfirm}
          + '<br>' + ${hospitalcard.patient.patientName}
          + ' ' + ${hospitalcard.patient.patientSurname}
          + ' ' + '<br>' + ${hospitalcard.patient.patientDateOfBirth}
          + ' ' + '<br>' + ${hospitalcard.patient.patientPhone}
+ ' ' + '<br>' + 'DIAGNISIS:' + ${hospitalcard.diagnosis}">
          </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <form  th:action="@{/hospitalcard/discharged}" th:method="GET">
            <input type="hidden" name="patientId" th:value="${hospitalcard.patient.patientId}">
            <input type="hidden" name="doctorId" th:value="${hospitalcard.doctor.doctorId}">
            <button type="submit" class="btn btn-warning" th:text="#{admin.jsp.Discarge}"></button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>


<div class="container-sm">
  <!-- Button trigger modal -->
  <div class="container text-center">
    <div class="row gx-5">
      <div class="col">



        <div class="d-flex">
          <div class="p-2 flex-fill"><button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                             data-bs-target="#changecardModal" th:text="#{admin_jsp.hospitalcardChangeCard}">
          </button>
          </div>

          <div class="p-2 flex-fill"><button type="button" class="btn btn-outline-dark " data-bs-toggle="modal" data-bs-target="#visitModal" th:text="#{admin_jsp.hospitalcardVisitHistory}">
          </button>
          </div>

          <div class="p-2 flex-fill"><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#dischargedModal" th:text="#{admin.jsp.Discarge}">
          </button>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="changecardModal" tabindex="-1" aria-labelledby="changecardModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="#{admin_jsp.hospitalcardChangeCard}"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/hospitalcard/edit}" th:method="POST">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <input type="hidden" name="hospitalcardid" th:value="${hospitalcard.hospitalCardId}">
            <h2 class="accordion-header" id="headingOne" >
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" th:text="#{admin_jsp.hospitalcardPROCEDURE}">
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <textarea class="form-control" name="procedures" rows="5" id="procedures" th:text="${hospitalcard.procedures}"></textarea>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" th:text="#{admin_jsp.hospitalcardMEDICATION}">
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <textarea class="form-control" name="medications" rows="5" id="medications" th:text="${hospitalcard.medications}"></textarea>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" th:text="#{admin_jsp.hospitalcardOPERATION}">
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <textarea class="form-control" name="operations" rows="5" id="operations" th:text="${hospitalcard.operations}"></textarea>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFore">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFore" aria-expanded="false" aria-controls="collapseFore" th:text="#{admin_jsp.hospitalcardDIAGNOSIS}">
              </button>
            </h2>
            <div id="collapseFore" class="accordion-collapse collapse" aria-labelledby="headingFore" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <textarea class="form-control" name="diagnosis" rows="5" id="diagnosis" th:text="${hospitalcard.diagnosis}"></textarea>
              </div>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-secondary btn-lg" th:text="#{admin_jsp.hospitalcardSave}"></button>
          </form>
      </div>
    </div>
  </div>
</div>

<!--FOOTER-->
<footer class="pt-1 my-md-1 pt-md-1 border-top abs "
        style="position: fixed;
        bottom: -10px;
        height: 70px;
        background: #e3f2fd;
        width: 100%;
        left: 0;">
  <div class="container text-center text-md-left">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">Make by Arno</div>
      <div class="p-2">099 111 22 33</div>
      <div class="p-2"><mylib:languages></mylib:languages></div>
    </div>
  </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>
